.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto

/.quarto/
**/*.quarto_ipynb

AGENTS.md
Take-home_Ex/assignment1_files/
*_cache/
_freeze/
*.rmarkdown
Take-home_Ex/takehome_exercise1_submission.zip
